@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital Sierra Madre</h1>
</div>

<body>
    <section>
        <h2>Nosotros</h2>
        <p>Bienvenido a Hospital Sierra Madre, un centro de atención médica comprometido con la salud y el bienestar de nuestra comunidad.</p>
        <p>Nuestro equipo de profesionales altamente calificados está dedicado a proporcionar atención médica de calidad, utilizando las últimas tecnologías y enfoques científicos.</p>
        <p>En Hospital XYZ, nos esforzamos por ofrecer un ambiente cálido y acogedor para nuestros pacientes, brindando atención personalizada y compasiva en cada paso del camino.</p>
        <p>Gracias por confiar en nosotros para su atención médica. Estamos aquí para servirle.</p>
    </section>

</body>
